 /*--------------- 
       Font
 ---------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/*---------------- 
  Common Styles
---------------- */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.main-title{
    text-align: left;
}
.top-banner:hover {
    background-image: linear-gradient(to left, green, rgba(180, 180, 16, 0.781), green);
}

.top-banner{
    background-color: darkblue;
    height: 677px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    text-align: right;
}
.left-half{
    font-size: 35px;
    color: ghostwhite;
    width: 390px;
    height: 280px;
    text-align:center;
    margin-top: 60px;
    margin-left: 126px;

}
.right-half img{
width: 456px;
height: 350px;
margin-top: 153px;
margin-right: 140px;
margin-bottom: 86px;
}
.watch-live{
    font-size: .7em;
    color: green;
    background-color:khaki;
    text-decoration: none;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 5px 5px 15px goldenrod;

}
.watch-live:hover{
    background-color:crimson;
    box-shadow: 5px 5px 15px darkslategray;
}
/* ------------------
Players Section
--------------------- */
.players-container{
    background-color: rgba(193, 240, 193, 0.425);
}
.player .player-thumbnail img{
    width: 300px;
    height: 256px;
    justify-content: center;
    border-radius: 10px;
}
.players{
    display: grid;
    padding-top: 40px;
    padding-bottom: 50px;
    margin-left: 60px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-column-gap: 30px;
    /* margin-top: 40px; */
    justify-content:space-evenly;
    /* align-items: center; */
}
.player{
    height: 426px;
    width: 300px;
    /* margin: 20px; */
    /* align-items: center; */
    border-radius: 5px;
    box-shadow: 10px 10px 5px gray;
    background-color: whitesmoke;
    border-radius: 10px;

}
.player-details{
    padding: 10px;
}
.details{
    font-size: 10px;
}
.result{
    background-image: url("back.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    
    height: 400px;

}
.flag{
    height: 150px;
    width: 250px;
}
.result-section{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: flex-end;

    
}
.title{
    background: linear-gradient(to right, rgb(22, 139, 185), white, rgb(20, 131, 175), green, #fbff00, green);
    height: 80px;
    text-align: center;
    font-size: 3em;
    color: tomato;
    margin-top: 0;
}
.gole{
    font-size: 5em;
    color:white
}
h3{
    color: mintcream;
}